<h1 class="page-header">{{user.name}}'s Dashboard</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>Personal Info</h2>
      <strong>Name: </strong>{{user.name}}
      <br>
      <strong>Email: </strong>{{user.email}}
      <br>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>My Events</h2>
      <ul>
        <li>dfdf</li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="jumbotron text-center">
    <a class="btn btn-primary" [routerLink]="['/events']">Register For Event</a>
  </div>
</div>
